%tableHeadRounded {
	&:first-child {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	&:last-child {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

.siaf {
	.table-heading,
	.table-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 48px;
	}
	.table-sticky {
		height: 300px;
		&.table-sticky--height {
			height: 450px;
		}
		overflow-y: auto;
		thead {
			th {
				top: 0;
				position: sticky;
				background-color: $siaf-grey-20;
				@extend %tableHeadRounded;
			}
		}
	}
	.table {
		&.table-consult {
			tbody > tr {
				&:hover {
					color: $siaf-black;
					background: transparent;
				}
			}
		}
		thead {
			th {
				font-size: 12px;
				color: $siaf-grey-40;
				border: none;
				background-color: #d2d3d5;
				height: 40px;
				padding: 0 0.5rem !important;
				text-transform: uppercase !important;
				border-bottom: 1px solid #e9e9e9 !important;
				line-height: normal;
				font-weight: 700;
				@extend %tableHeadRounded;
				// z-index: 2;
				// background-color: #d2d3d5 !important;
				// color:$siaf-grey-40 !important; //#373739;40;
				// text-transform: uppercase !important;
				// font-weight: bold !important;
				// font-size: 15px !important;
				// height: 40px !important;
				// border-bottom: 1px solid #e9e9e9 !important;
			}
		}
		tbody > tr {
			cursor: pointer !important;
			&:hover {
				color: $siaf-red;
				background: $siaf-red-ligth;
			}
			&.active {
				background: $siaf-red-ligth;
				> td {
					color: $siaf-red;
				}
			}

			td {
				padding: 0 0.5rem !important;
				line-height: normal;
			}
		}
		td,
		th {
			vertical-align: middle;
			height: 40px;
			&.monto,
			&.monto > input {
				text-align: right !important;
			}
		}
		&.table-sm {
			td,
			th {
				height: auto;
				padding: 0.2rem 0.25rem !important;
			}
		}
		&.table-consulta {
			tbody > tr {
				cursor: inherit;
				&:hover {
					color: $siaf-black;
					background: transparent;
				}
			}
		}
	}
}

/* CUSTOM - UpperCase Row Selected */

.tbl-grid tbody > tr :hover {
	cursor: pointer;
}

.tbl-row.selected {
	border: 1px solid #ee6d6d;
	border-style: dotted;
	background-color: #ffb9b9;
}

.u-case {
	text-transform: uppercase !important;
}

/**/
.custom-text-truncate {
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	max-width: 120px !important;
}
