.section {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 21rem;
  margin: 0.5rem;
}
